<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.alexib.yaba.android">

    <application>
        <meta-data
            android:name="isSandbox"
            android:value="true"
            tools:replace="android:value" />
        <meta-data
            android:name="base_url"
            android:value="${serverUrl}" />
    </application>
</manifest>
